iframe[title="streamlit_echarts.st_echarts"]{
background-color:#e7e1d5;
    border-radius: 20px;
    border-style: outset;
    border-width: 2px;
    border-color: #bfa04e;
    margin-left: 25%;
    width: 50%;}
